useDynLib(Grappa,.registration=TRUE, .fixes="F_")
export("domain")
export("list.domains")
export("print.Grappa")
export("print.Grappatab")

export("query")
export("tab")
export("vs")
export("tables")
export("prop.evid")
export("equil")
export("make")
export("compile")
export("pnmarg")
export("nm")
export("fq")
export("cs")
export("joint")

export("simulate")

export("founder")
export("genotype")
export("mendel")
export("mix")
export("or")
export("and")
export("select")
export("by")
export("which")

S3method(print,Grappatab)
S3method(print,Grappa)

importFrom("graphics", "lines", "text")
importFrom("stats", "rbeta")
